body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

#top-part h1 {
    margin: 0;
    font-size: 24px;
    color: #ff6347;
}

#timer-container {
    margin-top: 20px;
}

#hr-1{
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #ff6347;
}

#clock-container p,
#time-container p {
    margin: 10px 0;
    font-size: 18px;
}

#timer-container #timer {
    font-weight: bold;
    font-size: 54px;
}

#time-selection-container select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#action-buttons-container button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: 16px;
}

#action-buttons-container button:hover {
    background-color: #ff4500;
}